@font-face{
  font-family: 'Dank Mono Regular';
  src: local('Dank Mono Regular'),
  url(./fonts/DankMonoRegular.otf)
  format('opentype')  ;
    font-weight: normal;
    font-style: normal;
}
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;400;700&display=swap');
*{
    font-family: Inter;
}
body{
  background: #181818;
}

.nav{
  display: flex;
  justify-content: space-between;
  margin-top: 64px;
}

.name-container{
  display: flex;
  margin: 0 0 0 14vw;
  flex-direction: column;
  align-items: flex-end;
}

.first-name{
  color: #FFF;
  font-family: Inter;
  font-size: 32px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  display: flex;
  flex-direction: row;
}

.last-name{
  color: #FFF;
  font-family: Inter;
  font-size: 32px;
  font-style: normal;
  font-weight: 200;
  line-height: normal;
  margin-left: 10px;
}

.title{
  color: #AA83FF;
  font-family: Inter;
  font-size: 20px;
  font-style: italic;
  font-weight: 700;
  line-height: normal;
}

.social-container{
  display: flex;
  gap: 2rem;
  margin: 0 4vw 0 0;
}

.resume{
  color: #FFF;
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.link-hover{
  color: #FFF;
  text-decoration: none;
  cursor: pointer;
}
.link-hover:hover{
  color: #AA83FF;
  text-decoration: none;
  cursor: pointer;
}

.contact{
  color: #FFF;
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

path{
  cursor: pointer;
}

.icon:hover path {
  stroke: #AA83FF;
  fill: #AA83FF;
}

/* path:hover{
  color: #AA83FF;
  fill: #AA83FF;
} */

.box {
  border: 0px none;
  height: auto;
  width: auto;
  overflow-x: hidden;
}

.box .ghi-src-candidates {
  color: #aaaaaa;
  font-family: "Inter-MediumItalic", Helvetica;
  font-size: 11px;
  font-style: italic;
  font-weight: 500;
  margin-left: 15px;
  /* left: 25px; */
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  /* top: 9px; */
  white-space: nowrap;
}

.blinking-cursor {
  font-weight: bold;
  color: #FFFFFF;
  animation: blink 1s step-end infinite;
}

@keyframes blink {
  0%, 49% {
    opacity: 1;
  }
  50%, 100% {
    opacity: 0;
  }
}

.jsx-link{
  color: #aaaaaa;
  text-decoration: none;
}

.jsx-link:hover{
  color: #29a2e9;
}
/* .hello-box{
  width: 621px;
  height: 265px;
  border-radius: 13px;
  border: 1px solid #38325B;
  background: #1B1924;
  margin-left: 25vw;
} */

.nav-spacer{
  margin-top: 100px;
}

.box-inner-content{
  display: flex;
  flex-direction: column;
  counter-reset: line-numbers;
}

.box-line{
  display: flex;
}

.box-line{
  counter-increment: line-numbers;
}

.box-line::before {
  content: counter(line-numbers);
  margin-right: 5px;
  color: #AAA;
  font-family: Cascadia Code;
  font-size: 24px;
  font-weight: 300;
}

.box-text{
  color: #FFF;
  font-family: Cascadia Code;
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  white-space: nowrap;
}

.purple{
  color: #AA83FF;
  font-family: Cascadia Code;
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-decoration-line: underline;
}

@keyframes typing {
  0% { width: 0; }
  2% { width: 100%; }
}

.box-text span {
  animation: typing 0.2s steps(1, end) forwards;
  overflow: hidden;
  display: inline-block;
  border-right: 1px solid #AAA; /* cursor */
}

.ide {
  font-family: 'Dank Mono Regular', Courier, monospace;
  color: #dcdcdc;
  padding: 20px;
  min-height: 44vh;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  /* resize: both; */
  resize: none;
  overflow: auto;
  margin-bottom: 20vh;
}

.hello-box {
  width: 621px;
  height: 265px;
  border-radius: 13px;
  border: 1px solid #38325B;
  background: #1B1924;
  margin-left: 25vw;
  padding: 20px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
}

.filestructure {
  color: #569cd6;
  margin-bottom: 20px;
}

.editor {
  display: flex;
  height: calc(100% - 20px);
  width: 100%;
  overflow: none;
}

.line-numbers {
  display: flex;
  flex-direction: column;
  padding-right: 10px;
  margin-top: 44px;
}

.line-number {
  font-family: 'Dank Mono Regular';
  color: #848484;
  height: 39px;
  line-height: 40px;
  font-size: 24px;

}

.text-content {
  color: #FFF;
  font-family: 'Dank Mono Regular';
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-top: 44px;
}

.highlight {
  color: #AA83FF;
  font-family: 'Dank Mono Regular';
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-decoration-line: underline;
}

.no-style{
  text-decoration: none;
}

.dank-mono{
  font-family: 'Dank Mono Regular';
  font-style: normal;
}


.projects-container{
  height: 95vh;
  background-color: #2A2C31;
  width: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.project-row{
  margin-top: 100px;
  display: flex;
  flex-direction: row;
  width: 90%;
  justify-content: space-between;
  padding: 0 270px 0 270px;
}

.title-row{
  display: flex;
  flex-direction: row;
  width: 90%;
  justify-content: space-between;
  color: #FFF;
  margin-left: 0%!important;
  margin-top: 0%!important;
}

.project-info{
  width: 580px;
  border-radius: 13px;
  border: 1px solid #000;
  background: #484848;
  height: 307px;
}

.project-display-one{
  width: 580px;
  height: 307px;
  border-radius: 13px;
  border:1px solid #36393f;
  /* background: url(./images/tf_home.png), lightgray 50% / cover no-repeat; */
  background: #202225;
}

.display-one-img{
  border-radius: 0 0 13px 13px;
  width: 580px;
  height: 265px;
  object-fit: cover;
}

.project-display-two{
  width: 580px;
  height: 307px;
  border-radius: 13px;
  border: 1px solid #B4B4B4;
  background: rgba(237, 237, 237, 0.20);
}

.top-bar{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.nav-dots{
  display: flex;
  flex-direction: row;
  gap: 5px;
  margin:10px;
}

.proj-repo{
  gap: 5px;
  display: flex;
  margin: 10px 10px 0 0;
  flex-direction: row;
  color: #FFF;
}

.project-title{
  color: #AA83FF;
  font-family: Inter;
  font-size: 24px;
  font-style: italic;
  font-weight: 700;
  line-height: normal;
  margin-bottom: 10px;
}

.project-title:hover{
  color: #ccb4ff;
}

.project-content{
  display: flex;
  padding:10px 20px 20px 40px;
  width: calc(100% - 60px);
  height: calc(100% - 80px);
  flex-direction: column;
}

.project-description{
  color: #FFF;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  width: calc(100% - 40px);
}

.skills{
  display: flex;
  width: 100%;
  margin-top: 10px;
}

.chip{
  width: auto;
  padding: 2px 6px 2px 6px;
  text-align: center;
  border-radius: 2px;
  background: rgba(119, 119, 119, 0.50);
  color: #D5C5F9;
  font-family: Inter;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin: 10px 5px 0px 5px;
  cursor: pointer;
}

.chip:hover{
  background: rgba(143, 143, 143, 0.5);
}


.skills-container{
  height: 70vh;
  background-color: #181818;
  width: 100%;
}

.projects-title{
  color: #FFF;
  margin-left: 5%;
  margin-top: 5%;
}


*::-webkit-scrollbar {
  width: 12px;
}

*::-webkit-scrollbar-track {
  background: #ffffff00;
}

*::-webkit-scrollbar-thumb {
  background: #5e5a5a;
  border-radius: 26px;
}

*::-webkit-scrollbar-thumb:hover {
  background: #5e5a5a;
}

.live{
  padding-top: 6px;
  padding-right: 6px;
}
.pulse-container {
  position: relative;
  width: 10px;
  height: 10px;
}

.center-circle {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #ff0000;
  border-radius: 50%;
}

.pulse-circle::before,
.pulse-circle::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 10px;
  width: 10px;
  background-color: #ff0000;
  border-radius: 50%;
  transform: scale(1);
  opacity: 0;
}

.pulse-circle::before {
  animation: pulse 1.7s infinite 1s;
}

.pulse-circle::after {
  animation: pulse 1.7s infinite 1.2s;
}

@keyframes pulse {
  0% {
    transform: scale(1);
    opacity: 1;
  }
  50% {
    transform: scale(2.5);
    opacity: 0;
  }
  100% {
    transform: scale(1);
    opacity: 0;
  }
}
.no-decoration{
  text-decoration: none;
}

.scroller{
  color: #FFF;
}
.scroll-downs {
  position: fixed;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
  font-size: 3rem;
}

.mousey {
  opacity: 0.75;
  animation: bob 2s infinite;
}

@keyframes bob {
  0% { transform: translateY(0); }
  50% { transform: translateY(-20px); }
  100% { transform: translateY(0); }
}

.search-bar{
  display: flex;
  /* border:1px solid #36393f; */
}

.browser-top{
  padding: 0 0 0 20px;
}
.nav-items{
  display:flex;
}

.lg{
  display: flex;
}
.text-gray-500 {
  --tw-text-opacity: 1;
  color: rgb(107 114 128 / var(--tw-text-opacity));
}

.browser-link{
  text-decoration: none;
  color: #FFF;
  border-radius: 16px;
  /* background:#484848; */
  padding: 0 1.5rem 0 1.5rem;
}

.ease-in-out {
  transition-timing-function: cubic-bezier(.4,0,.2,1);
}
.duration-300 {
  transition-duration: .3s;
}
.rounded-full {
  border-radius: 9999px;
}
.mr-2 {
  margin-right: 0.5rem;
}

.mt-1 {
  margin-top: 0.25rem;
}

.text-xl {
  font-size: 1.25rem;
  line-height: 1.75rem;
}

.text-xl {
  font-size: 1.25rem;
  line-height: 1.75rem;
}
.mt-\[2px\] {
  margin-top: 2px;
}

.bg-gray-800 {
  --tw-bg-opacity: 1;
  background-color: rgb(47 49 54 / var(--tw-bg-opacity));
}

.rounded-full {
  border-radius: 9999px;
}

.justify-start {
  justify-content: flex-start;
}

.w-full {
  width: 100%;
}
